

## set
snippet set
	set main(){
	  ${0}
	}

## for
snippet for
	for(auto i = 0; i < 10; ++i){
	  ${0}
	}

## while
snippet while
	while(){
	  ${0}
	}

## class
snippet class
	class MyClass${0} {
	}

## exec
snippet exec
	exec("${0}")
